h1{
    background-color: black;
    color: white;
    padding-inline: 30px;
    font-variant-ligatures: ;
    font-style: italic;
    font-size: 50;
}

span{
 color: aqua;
}
h2{
background-color: darkslateblue;
color: white;
text-align: center;
padding-inline: 30px;
font-style: oblique;
font-size: 35;

}
h3{
background-color: cornflowerblue;
color: black;
text-decoration-line: underline;
font-size: medium;
font-style: normal;
text-align: right;
font-size: 30;
padding-inline: 30px;
}